
.Simplilearn > img{
    height: 45px;
    border-radius: 50%;
    width: 45px;
    margin: 0px 10px;
    padding-top:none;
 vertical-align: middle;

}

/* .PostImg{
 border: 1px solid black;
} */
.Simplilearn{
    display: flex;
    flex-direction: row;
    justify-content: center;
     margin-top: 20px;
    font-size: 2rem;
    font-weight: 500;
 margin-bottom: 20px;

}

/* .poster{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 
} */
 span{
    margin-top: 1.5rem;
 }

.caption{
    font-family: Arial;
    font-size: 1.6rem;
    color: black;
    /* padding: 0px 10px; */
    font-weight: normal;
}



.PostImg{
    display: block;
    height: 150px;
    width: 100%;

}

.PostImg>img{
    overflow-clip-margin: content-box;
    /* width: 150px; */
   
}

.commentSectionpart{
    height: 500px;
}

    @media only screen and (max-width: 767px) {
        .modal-content {
          margin-top: 0%; 
          
        }

        /* .PostImg{
            width: 100%;
            height: 100%;
        } */
       .closeControl{
        margin-top: 30px;
       }
        .commentContent{
            margin-top:20%;
        }

        .commentSectionpart{
            width: 500px;
            height: 300px;
            z-index: 100%;
            background-color: black;    
            
            /* background:red; */
        }

      }

