
.Mypagedata{
   
    /* position: fixed; */
    z-index: 10;
    position: fixed;
    margin: 10px;
    height: auto;
    width: 25%;
    
    

}



@media only screen and (max-width:600px){
    .Mypagedata{
   
        /* position: fixed; */
        z-index: 10;
        position: fixed;
        margin-bottom: 4rem;
        height: auto;
        width: 100%;
        /* padding: 20px; */
        
        
    
    }
}