
.PostImg > img{
    width: 100%;
    height: auto;
   

}

.Posted{
    display: grid;
    height: 80%;
    width: 80%;
    align-items: flex-start;
    background-color: white;
    margin-left: 60px;
    margin-top: 29px;
    justify-content: center;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px; */
    
}
.Posted{
    height: auto;
    width: 80%;
    padding: 10px;
 }

.PostImg{
    display: block;
    height:auto;
    width: 100%;

}

.Like{
    gap:5px;
}

.liked{
    color: blue;
}

.poster{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   /* gap: 3rem; */
 
}


@media only screen and (max-width: 600px) {
   
    /* .Posted{
        height: auto;
        width: 100%;
        padding: 20px;
     } */

     .Posted{
        height: 80%;
        width: 100%;
         align-items: center;
        justify-content:center;
        

     }
     .PostImg > img{
        width: 100%;
        height: 100%;
        
    
    }
}

